.topRiboon {
    background: #fdfdfd;
    height: 32px;
    color: #ffffff;
    border-bottom: solid 1px #d2d2d273;
    font-family: 'iran_sansregular';
    font-size: 15px;
}
.center {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
  }
  
  .center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }
.ant-popover {
    width: 250px;
    border-radius: 6px;
}

.ant-popover-message>.anticon {
    font-size: 18px!important;
    top: 6px!important;
    right: -4px;
}

.ant-table-thead tr th {
    background: #eddef157!important;
    font-size: 17px;
    color: #147524!important;
    line-height: 21px;
    background: #ebebeb!important;
    font-weight: bold!important;
}




.fa-file-contract:before {color: #24c154;}
.fa-handshake:before {   color: #ef8400;}
.fa-gavel:before {
    color: #cc9b11;
}
.fa-file-signature:before {
    color: #329ac1;
}
.fa-bell:before {
    color: red;
}

.fa-chart-line:before {
    color: #cc2956;
}
.fa-donate:before {
    color: #31a202;}

.ant-table-tbody tr:nth-child(2n) td {
    background-color: #fbfbfb;

}

.ant-table-tbody tr td {
  
    background-color: #f6f6f6;

}
.card-body {
    font-size: 20px;
   
}

.ant-table-cell {
    font-size: 17px;
}

.ant-table {
    color: rgb(0 0 0)!important;
    line-height: 0.5!important;
}

.add-button {
    color: #1c9a1a;
    font-size: 29px;
    line-height: 1px;
    position: absolute;
    margin-top: 17px;
}

.ant-table-column-sorters {
    padding: 13px 8px!important;
}
.hidden {
    display: none;
}
.error-control{
    /* background-color: red; */
    border:solid 2px red;
}
.error-lable{
   color:red;
}
.ant-message-notice {
    direction: rtl;
    font-size: 18px!important;
}

.card-header {
    color: #9e0909;
    font-size: 23px;
    padding: 4px 10px;
    font-weight: 600;
    font-style: italic;
    background: rgb(218,218,218);

}
.card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 8px;
}
.app-main {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'iran_sansregular', 'Tahoma';
}

.logoName {
    float: right;
    font-family: 'IranNastaliq';
    font-size: 1.7vw;
    display: inline-block;
    width: 75%;
    padding-right: 0px;
    margin-top: 0px;
    color: #0990d6;
    /* padding-top: 13%; */
    line-height: 462%;
    padding-top: 2%;
}
td .ant-table-cell {line-height: 23px;}
.activeMenu  {
    color: #096dd9!important;
}

.activeSubMenu {
      background-color: #f0f4ff;
}

.container {
    font-family: iran_sansregular!important;
    /* font-size: 1.143rem; */
}
td  a {    color: #206cb3;}
.navagition {
    background: rgb(224,228,244);
    font-family: 'iran_sansregular';
    height: auto;
}

.navagition ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    margin-left: 13%;
}

.navagition ul li:first-child {
    border: none;
}

.navagition ul li {
    display: inline-flex;
    width: 11%;
    font-weight: 700;
    font-size: 1.3vw;
    border-right: 2px solid hsla(0,0%,41.2%,.15);
}

.navagition ul li div i {
    font-size: 2.2vw;
    margin-bottom: 10px;
}

.navagition ul li div {
    display: grid;
    color: #252525;
    margin: 0 auto;
    cursor: pointer;
}

.navagition ul li div:hover, .subNavagition ul li a:hover {
    text-decoration: none;
}

.subNavagition {
    font-family: BYekan;
    height: 40px;
    font-size: 11px;
    background-color:rgb(238,245,249);
    border-top: solid 2px  rgb(192,196,198);
    border-bottom: solid 2px #bdc1c31f;
}




.subNavagition ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 4px;
}

.subNavagition ul li {
    font-family: 'iran_sansregular';
    line-height: 36px;
    display: inline-flex;
    padding: 0 16px;
    font-size: 1.2vw;
    margin-top: -3px;

}

.subNavagition ul li a {
    font-weight: 800;
    color: #4c4a4a;
}

.mainContent {
    border: solid 1px #c2c2c2;
    border-radius: 5px;
    margin: 20px 50px;
    width: 100%;
    background: rgb(232, 232, 232);
    background: linear-gradient(0deg, rgba(232, 232, 232, 1) 0%, rgba(254, 254, 254, 1) 100%);
    /* background-image: url('../img/box-bg.png');
    background-repeat: no-repeat; */
}

.boxContent {
    margin: 20px;
    ;
}
.container-fluid{       background: #e4e5e62e;}
.boxHeader {
    background-color: #f5e6e3;
    border-radius: 5px;
    padding-right: 30px;
    margin: 20px -20px 20px 150px;
    height: 33px;
    line-height: 33px;
    font-size: 18px;
    font-family: 'BYekan';
    font-weight: bold;
    box-shadow: 5px 5px #c2c2c2;
}
.main-ribon{ 
    position: absolute;
    background: rgb(64,64,64);
   
    font-family: 'iran_sansregular';
    height: 31px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.activeSubMenu a {
    color: #096dd9!important;
}	
	
	.zoom{ transition: transform .4s; /* Animation */}
	.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.top-left {    width: 149px;}
    .logout {      margin-right: -34px!Important;
            line-height: 37px;
    width: 58px;}
	
	.activeMenu i {     color: #ab55e6!important;}
	.farmlogo{ }
    .farmcol{    text-align: left;
        padding-left: 33px;
    }
.botton-custom{font-size: 17px;
    bottom: 18px;
    position: absolute;
    left: 39px;}
    .ant-table-row{text-align: center;}
.table.table-striped.table-bordered th {    text-align: center;
    font-size: 17px;
    padding: 5px 1px 3px 0px;
    line-height: 36px;
    vertical-align: inherit;
    background: #4ba1ce;
    color: white;}
.ant-table-cell div {text-align: center;}

.ant-table-cell i {       margin: 2px;
    font-size: 15px;}

    .fa-plus-circle:before {

    }
    .add-button {

    }
    
    .fa-edit:before {
        color: #dc5cdec9;
    }
        .fa-trash-alt:before {
            color: #ff7272;
        }
        .fa-eye:before {
            color: #95bff3;
        }
        .ant-table-tbody > tr > td {

            line-height: 21px;
        }
        .fa-plus-circle:before {
            cursor: pointer;
        }

        .ant-table-tbody > tr.ant-table-row:hover > td {    background: #dedede!important;}
@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot?#') format('eot'), url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype');
}

@font-face {
    font-family: 'iran_sansregular';
    src: url('../fonts/iran_sans.eot?#') format('eot'), url('../fonts/iran_sans.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iran_sans.ttf') format('truetype');
}

@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/IranNastaliq.eot?#') format('eot'), url('../fonts/IranNastaliq.ttf') format('truetype'), url('../fonts/IranNastaliq.woff') format('woff');
}